{%extends 'base.html'%}
{%block content%}
<div class="container">

<div class="col-lg-5 mx-auto border rounded pt-4">
<div class ="p-4 m-4">
      <h3 class="alert-light border rounded mt-4 mb-4">Login here!!</h3>
      <form action = "/login" method="POST">
      {% if error %}
      <div class="alert alert-danger" role="alert">
         {{error}}  
       </div>
       {% endif %}
       {% csrf_token %}
       
      
      <!--email-->
      <div class="form-group">
        <label for="">Email</label>
        <input required type="email" name="email" value = "{{values.email}}"" id="email" class="form-control form-control-sm" placeholder="" aria-describedby="helpId">
      </div>
       <!--Password-->
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control form-control-sm" name="password" id="" placeholder="********" aria-describedby="helpId">
      </div>

      <div class="form-group pt-4">
      <input class="btn btn-sm btn-info" type = "submit" value="login">
      </div>
      </div>
      </div>
</div>
{% endblock %}